.headerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    gap: 1rem;
    margin: 0.5rem 0;
    margin-right: 175px;
    min-height: 38px;

    @media (max-width: 500px) {
        margin: 0;
    }

    .title {
        display: block;
        font-size: 1.1rem;
        font-weight: 600;
        flex-grow: 1;

        ul {
            margin-top: 0.25rem;
        }
    }

    :global(.fds-link) {
        white-space: nowrap;
        flex-shrink: 0;
    }

    @media (max-width: 500px) {
        flex-direction: column;
        align-items: flex-start;
    }
}
