@import '@fdk-frontend/ui/core/mixins';

.article {
    @include article();
}

.wrapper {
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 0 1rem 0;
        gap: 1rem;

        @media (max-width: 500px) {
            display: block;

            .urlbar {
                margin-bottom: 1rem;
            }
        }
    }

    .toolbar {
        display: flex;
        gap: 0.5rem;
        align-items: center;
    }

    .content {
        position: relative;

        :global(.fds-btn) {
            position: absolute;
            top: 0.25rem;
            right: 0.25rem;
            z-index: 1;
        }
    }
}
