{
  "plugins": ["prettier-plugin-sort-json"],
  "printWidth": 120,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "singleAttributePerLine": true,
  "jsonRecursiveSort": true
}
