@use '@fellesdatakatalog/ui/src/components/core/mixins' as core-mixins;

.distributions {
    border-radius: 3px;

    > :global(.ds-heading) {
        margin: 2rem 0 1rem;

        &:first-child {
            margin-top: 0;
        }
    }
}

.accordionWrapper {
    position: relative;
    margin-block: 0;

    .accordionItem {
        border-top: 0;
    }

    &:last-child {
        .accordionItem {
            border-bottom: 0;
        }
    }
}

.actionButton {
    margin: 0.5rem 1rem 1rem;

    &:not(:hover):not(:focus-visible):not(:active) {
        background: white;
    }

    @media (min-width: 500px) {
        margin: 0;
        position: absolute;
        top: 0.9rem;
        right: 1rem;
        z-index: 1;
    }

    // @media (max-width: 400px) {
    //     svg {
    //         margin:0;
    //     }
    //     span {
    //         @include core-mixins.sr-only();;
    //     }
    // }

    // @media (max-width: 400px) {
    //     font-size:0;
        
    //     svg {
    //         font-size:1.25rem;
    //     }
    // }
}

.accordionItem {
    u-summary {
        min-height: 4.5rem;

        &:hover,
        &[aria-expanded='true'] {
            :global(.ds-tag) {
                background: white;
                background: var(--ds-color-surface-hover);
            }
        }
    }
    .header {
        :global(.fds-accordion__button) {
            > span {
                display: flex;
                flex-grow: 1;
            }

            @media (max-width: 500px) {
                flex-direction: row-reverse;
                align-items: flex-start;
            }
        }
    }
}

.content {
    margin-top: var(--ds-size-5);
    margin: 0;
    padding: var(--ds-size-5);

    table {
        width: 100%;

        td,
        th {
            background: transparent;
        }
    }
}

.descBox {
    &[className] {
        border: 0;
        padding: 0;

        > div {
            &[data-overflow='true'] {
                border: 1px solid #ddd;
                border-radius: 0.25rem;
                padding: 1rem;
            }
        }

        @media (max-width: 600px) {
            > div[data-overflow] {
                border: 0;
                padding: 0;
            }
        }
    }
}
