@import '@fdk-frontend/ui/core/mixins';

.wrapper {
	background: var(--color-fdk-navy-dark);
	padding:1rem;
	text-align:center;
	color: var(--fds-semantic-border-action-first-subtle);

	strong {
		color: white;
		opacity:0.9;
	}

	:global(.fds-link):not(:focus-visible) {
		color: var(--fds-semantic-border-action-first-subtle);
	}
}