@use '@fdk-frontend/ui/core/mixins' as core-mixins;

.sidebar {
    h2 {
        margin-bottom: 1rem;

        a {
            text-decoration: none;

            &:not(:hover):not(:focus-visible) {
                color: var(--fdk-text-color) !important;
            }

            &:hover {
                text-decoration: underline;
            }
        }
    }

    > .sidebarList {
        > li.itemOpen {
            position: relative;

            &:before {
                content: '';
                display: block;
                position: absolute;
                inset: 0;
                left: -0.5rem;
                width: 2px;
                background: var(--ds-color-surface-hover);
            }
        }
    }
}

.sidebarList {
    list-style: none;

    li {
        &.itemOpen {
            li {
                background: transparent;

                strong {
                    background: transparent;
                    background: #f8f8f8;
                }
            }
        }

        > div {
            position: relative;

            > button {
                padding: 0.2rem 0.25rem;
                padding: 0.4rem 0.4rem;
                position: absolute;
                top: 0.25rem;
                right: 0.25rem;
                top: 0;
                right: 0;
                min-height: 0;
                min-width: 0;
            }
        }

        a,
        strong {
            flex-grow: 1;
            display: block;
            padding: 0.4rem 0.75rem;
            // padding: 0.5rem 1rem;
            text-decoration: none;
            border-radius: 0.25rem;
            padding-right: 2rem;
        }
        strong {
            background: #f8f8f8;
        }
        a {
            &:hover:not(:focus-visible) {
                background: var(--ds-color-surface-hover);
            }
            &:focus-visible {
                + button {
                    color: var(--ds-color-focus-inner);
                }
            }
        }
    }

    ul {
        margin-left: 1rem;
    }
}

.sidebarListFlat {
    ul {
        margin: 0;
    }
}
