.article {
	max-width:700px;
	margin:auto;

	> h1, > h2, > h3, > h4, > h5 {
		font-weight:500;
		margin-bottom:1em;
	}

	> h1 {
		font-size:2rem;
	}

	> h2 {
		font-size:1.5rem;
	}

	> h3 {
		font-size:1.25rem;
	}

	> h4 {
		font-size:1.125rem;
	}

	> h2, > h3, > h4, > h5 {
		margin-top: 1.5em;
	}

	> div {
		margin:2rem 0;
	}

	> * + * {
		margin-bottom: 1rem;
	}
}