.headerOuter {
/*  background: #fafafa;*/
  color: #1e2b3c;
  position:absolute;
  z-index:100;
  width:100%;
/*  transition:background linear 300ms;*/

  .headerToolbar {
    display:flex;
    gap:1rem;

    a {
      text-decoration:none;
      color: var(--fds-semantic-text-action-first-default);

      &:last-child {
        color: white;
      }
    }
  }

  &.headerSticky {
    background: white;
    box-shadow: var(--fds-shadow-medium);
    color: var(--color-fdk-navy);

    svg {
      fill: var(--color-fdk-navy);
    }
  }

  &:not(.headerSticky) {
    a:not(:hover),
    a:last-child {
      color:white;
    }
  }
}

/*.drawerOpen {
  background: #eee;
  box-shadow: var(--fds-shadow-medium);
  transition:none;
}*/

.headerInner {
  display:flex;
  align-items:center;
  max-width:1280px;
  margin:auto;
  padding:1rem 2rem;
  justify-content: space-between;
  position:relative;
  z-index:102;
}

.drawer {
/*  background:white;*/
  position:static;
  top:0;
  width:100%;
/*  padding-top:5rem;*/
  z-index:101;
/*  background:#fafafa;*/
}

.drawerInner {
  max-width:1280px;
  margin:auto;
}

:global(.frontpage) .headerOuter:not(.headerSticky) {
  background:transparent;
}

:global(.frontpage) .headerOuter:not(.headerSticky):not(.drawerOpen) .headerInner svg {
  fill: white;
}

:global(.frontpage) .headerOuter:not(.headerSticky):not(.drawerOpen) .headerInner button:not(:hover) {
  color: white;
}

:global(.frontpage) .headerOuter:not(.headerSticky):not(.drawerOpen) a span {
  color:white;
}