.shareDataBanner {
	padding:4rem 2rem;
	text-align: center;

	.headline {
		font-size:2rem;
	}

	p {
		margin:1rem 0;
	}

	div {
		display:flex;
		justify-content: center;
	}

	.buttons {
		display:flex;
		gap:1rem;

		@media (max-width: 350px) {
			flex-direction:column;
		}

		a {
			text-decoration:none;
		}
	}
}