.contentContainer {
  display: flex;
  flex-direction: column;
  max-width: var(--breakpoint-x-large);
  margin: 5rem auto;
  padding: 1rem;
  box-sizing: border-box;
  min-width: var(--breakpoint-x-small);
}

.contentContainer {
  margin-bottom: 3rem;
}
