.detailsPage {
    margin: 0 2rem 3rem;
    container-type: inline-size;

    @media (max-width: 400px) {
        margin: 0 1.5rem 3rem;
    }
}

.mainContent {
    max-width: 1000px;
    margin: 0 auto;
}

.header {
    display: grid;
    gap: 0.75rem;
    margin-top: 2rem;
    margin-bottom: 1.5rem;

    @media (max-width: 650px) {
        margin-top: 1rem;
    }
}

.tabsPanel {
    padding: 0;
    margin-top: 1.5rem;
}

.heading {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.toggleButton {
    float: right;
    position: relative;
    top: -0.75rem;
}

.dlist {
    clear: both; // for toggleButton
}

// undo element styling from Dlist
dt.producesDt {
    white-space: initial;
    overflow: initial;
    text-overflow: initial;
}
