.textArea {
  margin-top: 2rem;
}

.textField {
  width: 100%;
  margin-top: 2rem;
  align-self: flex-start;
}

.textFieldHalfWidth {
  composes: textField;
  width: 50%;
}

.button {
  margin-top: 3rem;
  align-self: flex-start;
  background-color: #0057A3;
}

.orgNumberField {
  composes: textFieldHalfWidth;
}

/* Chrome, Safari, Edge, Opera */
.orgNumberField input::-webkit-outer-spin-button,
.orgNumberField input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.orgNumberField * input[type='number'] {
  -moz-appearance: textfield;
}
