.orakelSearch {
	margin-bottom:4rem;
}

.orakelSearchBox {
	position:relative;
	margin-bottom:0.5rem;
}

.orakelSearchBox > div > label {
	color:red !important;
}

.orakelSearchButton {
	position:absolute;
	right:0.5rem;
	bottom:0.5rem;
	font-size: medium;

	title + circle {
		display:none;
	}
}

.orakelSearchIcon {
	transform:scale(1.25);
	margin-right:0.25rem;
}

.orakelInputTextfield {
	position:relative;

	input {
		background:rgba(0,0,0,0.33333);
		border-color:rgba(255,255,255,0.75);
		color:white;
	}

	> label + div + div {
		position:absolute;
		width:0;
		height:0;
		overflow:hidden;
	}
}

.orakelInputLabel {
	color: white;
}

.orakelResults {
	display:flex;
	flex-direction: column;
	margin-top:1rem;
}

.status {
	margin-top:1rem;
	color: var(--fds-semantic-border-action-first-subtle);

	.errorMessage {
		color: var(--fds-brand-alt1-600);
	}
}

.orakelResultsList {
	display:flex;
	flex-direction:column;
	margin-bottom:1.5rem;
}

.orakelResultsList * h4 {
	margin-bottom:0.5rem;
}

.suggestion {
	color: var(--fds-semantic-border-action-first-subtle);
	margin-top:0.75rem;
	text-align:center;
}

.spinnerContainer {
	display: flex;
	align-items: center;
	justify-content: center;
}