.notice {
	margin-top:2rem;

    .toolbar {
        @media (max-width: 500px) {
            flex-direction:column;
            align-items:flex-start;
        }
    }
}

.forumStats {
    display:flex;
    flex-direction:column;
    text-align:center;
    padding:0.25rem;
}

.section {
    :global(.table) {
        margin-top:1rem;

        .threadLink {
            margin-bottom:0.75rem;
        }

        :global(.fds-tag) {
            white-space: nowrap;
            font-size:0.9rem;

            :global(.fds-link) {
                text-decoration:none;
                // color: var(--color-text);

                &:hover {
                    text-decoration:underline;
                    text-decoration-thickness: max(0.12em);
                }
            }
        }

        tr:hover {
            :global(.fds-tag) {
                // background:white;
            }
        }
    }
}