.mdxPage {
    margin: 0 2rem 3rem;
    container-type: inline-size;

    .content {
        align-items: start;
        display: grid;
        grid-template-columns: calc(25% - 0.5rem) calc(50% - 2rem) calc(25% - 0.5rem);
        grid-template-areas: '. article .';
        gap: 2rem;

        &.noSidebars {
            grid-template-columns: 100%;
            grid-template-areas: 'article';
        }

        .mainColumn {
            grid-area: article;
        }

        .rightColumn {
            display: flex;
            justify-content: flex-end;

            .asideContent {
                width: 350px;
                min-width: 0;
                max-width: 350px;
            }
        }

        .asideContent {
            max-width: 350px;
        }

        .article {
            max-width: 700px;
            margin: 0 auto;

            img {
                max-width: 100%;
                padding: 0.5rem;
                border: 1px solid #eee;
            }

            code {
                &:not([class]) {
                    background: rgba(0, 0, 0, 0.05);
                    font-size: 0.85em;
                    padding: 0.2em 0.4em;
                    white-space: break-spaces;
                    border-radius: 6px;
                    color: #444;
                }
            }
        }

        @container (max-width: 900px) {
            grid-template-columns: calc(35% - 1rem) calc(65% - 1rem);
            grid-template-areas: '. article';

            .rightColumn {
                display: none;
            }
        }

        @container (max-width: 800px) {
            display: block;

            .mainColumn {
                margin-top: 2rem;
            }

            .rightColumn {
                display: none;
            }

            .asideContent {
                max-width: inherit;
                margin: 0 -2rem;
                padding: 1rem 2rem;
                border-radius: 0.25rem;
                background: var(--fds-brand-alt2-200);
                background: #f8f8f8;

                .asideContent {
                    max-width: 700px;
                    margin: 0 auto;
                }
            }
        }
    }
}
