.produces {
    border-radius: 3px;

    > :global(.ds-heading) {
        margin: 2rem 0 1rem;

        &:first-child {
            margin-top: 0;
        }
    }
}

.accordionWrapper {
    position: relative;
    margin-block: 0;

    .accordionItem {
        border-top: 0;
    }

    &:last-child {
        .accordionItem {
            border-bottom: 0;
        }
    }
}

.accordionItem {
    u-summary {
        min-height: 4.5rem;

        &:hover,
        &[aria-expanded='true'] {
            :global(.ds-tag) {
                background: white;
                background: var(--ds-color-surface-hover);
            }
        }
    }
    .header {
        :global(.fds-accordion__button) {
            > span {
                display: flex;
                flex-grow: 1;
            }

            @media (max-width: 500px) {
                flex-direction: row-reverse;
                align-items: flex-start;
            }
        }
    }
}

.content {
    margin-top: var(--ds-size-5);
    margin: 0;
    padding: var(--ds-size-5);
}
