@import '@fdk-frontend/ui/core/mixins';

.highlight {
    :global(.fds-accordion) {
        // animation: blink-border 1s ease-in-out 2;
    }
}

@keyframes blink-border {
    0% {
        box-shadow: 0px 0px 0px 10px transparent;
    }
    25% {
        box-shadow: 0px 0px 0px 10px var(--fds-semantic-surface-focus-default);
    }
    50% {
        box-shadow: 0px 0px 0px 10px transparent;
    }
    75% {
        box-shadow: 0px 0px 0px 10px var(--fds-semantic-surface-focus-default);
    }
    100% {
        box-shadow: 0px 0px 0px 10px transparent;
    }
}

.detailsPage {
    margin: 0 2rem 3rem;
    container-type: inline-size;

    @media (max-width: 400px) {
        margin: 0 1.5rem 3rem;
    }

    a {
        &:visited {
            color: var(--color-link);
        }
    }

    .mainContent {
        max-width: 1000px;
        margin: 2rem auto 0;

        @media (max-width: 650px) {
            margin-top:1rem;
        }

        dl {
            display: grid;
            grid-template-columns: 1fr 3fr;
            border: 1px solid #ddd;
            border-radius: 0.25rem;

            dt {
                font-weight:500;
            }

            dt,
            dd {
                padding: 0.75rem 0.75rem;
                border-top: 1px solid #ddd;
                background: #f8f8f8;
                background: #fafafa;
            }

            dt:first-child,
            dt:first-child + dd {
                border-top: 0;
            }

            // @media (max-width: 900px) {
            //     grid-template-columns: 2fr 3fr;
            // }

            @media (max-width: 600px) {
                display:block;

                dt {
                    padding-bottom:0.25rem;
                }

                dd {
                    // padding-left:2rem;
                    border-top:0;
                    padding-top:0.25rem;
                }
            }
        }

        .header {
            margin-bottom: 1.5rem;
            display:flex;
            flex-direction:column;
            gap:0.5rem;

            .headerGrid {
                display:grid;
                grid-template-areas: "a b" "c c";
                grid-template-columns: auto auto;
                grid-template-rows: auto auto;
                gap: 0.75rem; /* Optional for spacing */
                // display: flex;
                // justify-content: space-between;
                // margin: 0.5rem 0 1rem 0;

                .title {
                    grid-area: a;
                    font-size: 2.25rem;
                }

                .headerToolbar {
                    grid-area: b;
                    display: flex;
                    align-items: flex-start;
                    gap: 1rem;
                    justify-self: end;

                    button {
                        white-space: nowrap;
                    }
                }

                .headerTags {
                    grid-area: c;
                    grid-column: 1 / -1;

                    :global(.fds-tag) {
                        display:inline-flex;
                        white-space:nowrap;
                        margin-right:0.5rem;
                    }

                    a:not(:hover) {
                        text-decoration: none;
                    }

                    .lastUpdated {
                        font-size: 0.9em;
                        opacity: 0.6;
                        margin-left: 0.25rem;
                        white-space:nowrap;
                        line-height:2em;
                    }
                }

                @media (max-width: 500px) {
                    grid-template-areas: "a" "c" "b";
                    grid-template-columns: 1fr;

                    .headerToolbar {
                        justify-self: start;
                        margin-top:0.5rem;
                    }
                }
            }
        }

        .tabsScrollShadows {
            margin:0 -2rem;
            padding:0 2rem;

            @media (max-width: 1000px) {
                padding:0;
                border-bottom:1px solid #ddd;

                :global(.fds-tabs__tablist) {
                    margin:0 2rem;
                    border-bottom:0;
                }
            }

            @media (max-width: 400px) {
                margin:0 -1.5rem;

                :global(.fds-tabs__tablist) {
                    margin:0 1.5rem;
                }
            }
        }

        :global(.fds-tabs__tab) {
            padding: 0.75rem 1rem;
            white-space: nowrap;
        }

        :global(.fds-tabs__content) {
            padding: 1.5rem 0;

            > * + * {
                margin-top: 1.5rem;
            }
        }

        .article {
            @include article();
        }

        .section {
            > :global(.fds-heading) {
                margin-bottom: 1em;
            }
        }

        .box {
            padding: 1rem 1.5rem;
            border-radius: 0.25rem;
            border: 1px solid var(--fds-semantic-border-neutral-subtle);
        }

        .related {
            :global(.fds-link) {
                display: flex;
                justify-content: space-between;
                text-decoration: none;
            }
        }

        .relatedPublisher {
            font-size: 1rem;
            color: #444;
            font-weight: normal;
        }

        .divider {
            margin: 3rem auto 2rem !important;
        }

        .scrollContainer {
            overflow-x:auto;
        }
    }

    .tableScroller {
        margin:1rem -2rem;

        > div {
            padding:0 2rem;
        }

        @media (max-width: 400px) {
            margin:1rem -1.5rem;

            > div {
                padding:0 1.5rem;
            }
        }
    }
}
