.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 843px;
  margin: 5rem auto;
}

.contentContainer .paragraph {
  margin-bottom: 3rem;
}

.paragraph {
  text-align: center;
}

.textArea {
  margin-top: 2rem;
}

.textField {
  width: 100%;
  margin-top: 2rem;
  align-self: flex-start;
}

.textFieldHalfWith {
  composes: textField;
  width: 50%;
}

.button {
  margin-top: 3rem;
  align-self: flex-start;
}

@media screen and (max-width: 1200px) {
  .contentContainer {
    composes: contentContainer;
    margin: 5rem 1rem;
  }
}
