@use '@fellesdatakatalog/ui/src/components/core/mixins' as core-mixins;

.details {
    > section {
        &:not(:last-child) {
            margin-bottom: 2rem;
        }

        > :global(.ds-heading) {
            margin-bottom: 1em;
        }
    }

    .toggleButton {
        float: right;
        position: relative;
        top: -0.75rem;
    }
}

.article {
    @include core-mixins.article();
}

.placeholderText {
    opacity: 0.5;
    font-style: italic;
}

.greyBox {
    border: 1px solid #ddd;
    border-radius: 0.25rem;
    padding: 0.75rem 0.75rem;
    background: #fafafa;
}
