.footer {
	background: var(--color-fdk-navy-dark);

	.footerLinks {
		display:flex;
		gap:1rem;
		justify-content: space-between;
		max-width:1000px;
		margin:auto;
		padding:4rem 2rem;

		.linkSection {
			.linkSectionHeader {
				color:white;
				margin-bottom:1rem;
			}

			a {
				display:flex;
				gap:0.5rem;
				color: var(--fds-semantic-border-action-first-subtle);
				padding: 0.5rem 1rem;
				text-decoration: none;
				margin: 0 -1rem;
				border-radius:0.25rem;

				&:hover {
					background:rgba(0,0,0,0.33);
					background: var(--color-fdk-navy);
					color: white;
				}
			}

			.footerCatalogSymbol {
				background:transparent;
			}
		}
	}

	.footerBottom {
		display:flex;
		justify-content: space-between;
		padding:2rem;
		border-top:1px solid var(--color-fdk-navy);
		color:white;

		svg {
			max-height:2rem;
			fill: white;
		}

		.footerDigdirLink {
			display:block;
			svg {
				display:block;
				height:1.75rem;
			}
		}
	}
}