.feedbackLayout {
    .feedbackBanner {
        background: #f8f8f8;

        .feedbackBannerInner {
            max-width: 1000px;
            margin: auto;
            padding: 4rem 2rem;
            container-type: inline-size;
        }
    }
}
