.docsLayout {

	.breadcrumbs {
		max-width: 1000px;
	  margin: auto;
	  padding: 2rem 2rem 0;
	  container-type: inline-size;
	}

	.feedbackBanner {
		background: #f8f8f8;

		.feedbackBannerInner {
			max-width: 1000px;
		  margin: auto;
		  padding: 4rem 2rem;
		  container-type: inline-size;
		}
	}

}