.norgeskart {
    position: absolute;
    // inset:0;
    left: 0;
    top: 0;
    right: 0;
    height: 100%;
    min-height: 1600px;
    z-index: 1;
    opacity: 1;
    mix-blend-mode: multiply;
    filter: grayscale(100%) contrast(100%) brightness(100%);
    pointer-events: none;

    // @media (max-width: 550px) {
    // 	display:none;
    // }
}
