.norgeskart {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 100%;
    min-height: 1600px;
    opacity: 0.6;
    filter: 
        grayscale(100%)
        contrast(100%)
        brightness(100%)
        invert(0%);
    pointer-events: none;
}
