

.sidebar {
    // padding-right: 1rem;
    // max-width: 300px;

    h2 {
        margin-bottom: 1rem;

        a {
            text-decoration: none;
            color: var(--color-text);

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.sidebarList {
    list-style: none;

    li {
        &.itemOpen {
            background: #f8f8f8;
            background: rgba(0,0,0,0.04);
            border-radius: 0.25rem;

            li {
                background:transparent;

                strong {
                    background:transparent;
                }
            }
        }

        > div {
            position: relative;

            > button {
                padding: 0.25rem;
                position: absolute;
                top: 0.25rem;
                right: 0.25rem;
                top: 0;
                right: 0;
                min-height: 0;
                min-width: 0;
            }
        }

        a,
        strong {
            flex-grow: 1;
            display: block;
            // padding: 0.5rem 1rem;
            padding: 0.25rem 0.5rem;
            text-decoration: none;
            border-radius: 0.25rem;
            padding-right: 2rem;
        }
        strong {
            background: #f8f8f8;
        }
        a {
            color: var(--color-link);

            &:hover {
                background: #f4f4f4;
                background: var(--fds-semantic-surface-action-first-no_fill-hover);
            }
        }
    }

    ul {
        margin-left: 1rem;
    }
}

.sidebarListFlat {
    ul {
        margin: 0;
    }
}
