@use '@fellesdatakatalog/ui/src/components/core/mixins' as core-mixins;

.querySuggestion {
    background: transparent;
    .customLink {
        &:not(:hover):not(:focus):not(:active):not(:focus-visible) {
            color: white;
        }
    }
}
