@use '@fdk-frontend/ui/core/mixins' as core-mixins;

.auxPanel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--fdk-color-cyan);
    margin-top: 0.5rem;
}

.helptextWrapper {
    > :global(.ds-button) {
        font-size: 0.9rem;
        white-space: nowrap;
    }
    :global(.ds-popover) {
        @include core-mixins.article();
    }
}
