name: Deploy to production and demo
permissions:
    contents: read
    packages: write
on:
    push:
        branches:
            - main
        paths-ignore:
            - 'README.md'
            - 'LICENSE'
    workflow_dispatch:

jobs:
    test:
        name: Test
        if: github.event.pull_request.draft == false
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v6
              with:
                  # We need to fetch all branches and commits so that Nx affected has a base to compare against.
                  fetch-depth: 0
                  submodules: true

            - name: Update submodules to latest main
              run: |
                  git submodule foreach --recursive git fetch origin
                  git submodule foreach --recursive git checkout origin/main

            - name: Set SHAs
              uses: nrwl/nx-set-shas@v4

            - name: Enable corepack
              run: corepack enable

            - name: Use Node.js 22.14.0
              uses: actions/setup-node@v6
              with:
                  node-version: 22.14.0
                  cache: 'yarn'

            - name: Yarn install
              run: |
                  corepack enable
                  yarn set version stable
                  yarn install --immutable

            - name: Caching Nx
              uses: actions/cache@v4
              with:
                  path: node_modules/.cache
                  key: cache-nx-${{ hashFiles('yarn.lock') }}

            - run: yarn run lint --configuration=ci
            - run: yarn run test --configuration=ci

    build-app:
        name: Build data-norge app
        needs: [test]
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v6
              with:
                  # We need to fetch all branches and commits so that Nx affected has a base to compare against.
                  fetch-depth: 0
                  submodules: true

            - name: Update submodules to latest main
              run: |
                  git submodule foreach --recursive git fetch origin
                  git submodule foreach --recursive git checkout origin/main

            - name: Set SHAs
              uses: nrwl/nx-set-shas@v4

            - name: Enable corepack
              run: corepack enable

            - name: Use Node.js 22.14.0
              uses: actions/setup-node@v6
              with:
                  node-version: 22.14.0
                  cache: 'yarn'

            - name: Yarn install
              run: |
                  yarn set version stable
                  yarn install --no-immutable

            - name: Caching Nx
              uses: actions/cache@v4
              with:
                  path: node_modules/.cache
                  key: cache-nx-${{ hashFiles('yarn.lock') }}

            - run: yarn playwright install
            #- run: yarn nx e2e data-norge-e2e --configuration=ci
            - run: yarn nx build data-norge --configuration=ci

            - name: Caching Dist Folder
              uses: actions/cache@v4
              with:
                  path: ./dist
                  key: cache-dist-${{ github.sha }}-data-norge

    build:
        name: Build image for data-norge
        needs: [test, build-app]
        uses: Informasjonsforvaltning/workflows/.github/workflows/build-push.yaml@main
        with:
            app_name: data-norge-frontend
            environment: prod
            gh_environment: prod
            build_env: true
            build_env_name: BINARY
            build_env_value: data-norge-frontend
            cache_path: ./dist
            cache_key: cache-dist-${{ github.sha }}-data-norge
            dockerfile: apps/data-norge/Dockerfile
            monorepo_app: true
        secrets:
            GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    deploy-prod:
        name: Deploy image for data-norge to production
        needs: [test, build]
        uses: Informasjonsforvaltning/workflows/.github/workflows/kustomize-deploy.yaml@main
        with:
            app_name: data-norge-frontend
            environment: prod
            gh_environment: prod
            monorepo_app: true
            cluster: digdir-fdk-prod
        secrets:
            GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            DIGDIR_FDK_AUTODEPLOY: ${{ secrets.DIGDIR_FDK_PROD_AUTODEPLOY }}
            SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}

    deploy-demo:
        name: Deploy image for data-norge to demo
        needs: [test, deploy-prod]
        uses: Informasjonsforvaltning/workflows/.github/workflows/kustomize-deploy.yaml@main
        with:
            app_name: data-norge-frontend
            environment: demo
            gh_environment: demo
            monorepo_app: true
            cluster: digdir-fdk-dev
        secrets:
            GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            DIGDIR_FDK_AUTODEPLOY: ${{ secrets.DIGDIR_FDK_DEV_AUTODEPLOY }}
            SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
