.details {
    position: relative;

    > section {
        display: flex;
        flex-direction: column;
        gap: var(--ds-size-4);

        &:not(:last-child) {
            margin-bottom: 2rem;
        }
    }

    .toggleButton {
        position: absolute;
        top: -0.75rem;
        right: 0;
    }
}
